.ProductList {
    padding: 5%;
    width: 100%;
    
    h1 {
        text-align: left;
    }
    
    .section{
        display: flex;
        justify-content: space-between;
        padding: 0 5%;

        .add-button:hover {
            font-weight: 600;
            box-shadow: 0 0.01rem 1rem 0.01rem #aaaaaa;
        }

        .filter {
            select {
                border: none;
                height: 4rem;
                font-size: 1.3rem;
                padding: 0 1rem;
                width: 20rem;
                border-radius: 2rem;
                border: solid 0.1rem #232323;
                text-align: center;
                background-color: transparent;
                // margin: 0.5rem 2rem;
            }
        }

        .search {
            border: solid 0.2rem black;
            padding: 0.3rem;
            border-radius: 2rem;

            input {
                margin-top: -0.1rem;
                border: none;
                height: 1rem;
                width: 14rem;
                padding: 1rem;
                font-size: 1.3rem;
                outline-width: 0;
            }

            .searchIcon {
                margin-left: 0.5rem;
                margin-bottom: -0.3rem;
                cursor: pointer;
            }
        }
    }
}