.addProduct {
  width: 25%;
  min-height: 65%;
  background: white;
  display: flex;
  border-radius: 1rem;
  flex-direction: column;
  // justify-content: space-evenly;
  padding: 2% 2%;
  background: #a5ecd7;
  border: solid 0.5rem #0278ae;
  font-size: 1rem;
  text-align: center;

  .form {
    justify-content: space-evenly;
    line-height: 2rem;

    span {
      display: inline-block;
      border-bottom: solid 0.1rem #232323;
    }

    div {
      margin: 1rem auto;
    }

    .add-img {
      width: 90%;
      height: 10rem;
      margin: auto;
      margin-bottom: 2rem;
      display: flex;
      justify-content: center;
      img {
        max-width: 100%;
        max-height: 100%;
        border-radius: 1rem;
        box-shadow: 0 0 1rem 0.05rem #676767;
      }

      img:hover {
        box-shadow: 0 -0.05rem 1rem 0.1rem #676767;
        font-size: 7.5rem;
      }
    }

    #name,
    #category {
      width: 70%;
    }
    #price {
      width: 40%;
    }
    #qty {
      width: 20%;
    }

    .buttons {
      margin-top: 5%;
      display: flex;
      justify-content: space-evenly;

      button {
        height: 2.5rem;
        width: 7.5rem;
        border-radius: 1rem;
        border: none;
        background-color: #0278ae;
        font-size: 1rem;
        cursor: pointer;
        color: white;
        font-weight: 600;
      }
    }
  }
  &--wrapper {
    width: 100%;
    height: 100%;
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba($color: #000000, $alpha: 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
