.Navbar{
    height: 13vh;
    width: 100vw;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.16);
    background-color: #fafafa;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 1;

    .Navbar--Logo{
        padding-left: 5vw;
        width:18%;
    }

    .Navbar--Links{
        height: 100%;
        width: 40%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-right: 5vw;

        .Navbar--Link{
            color: #373737;
            text-transform: uppercase;
            letter-spacing: 2.34px;
            line-height: 1.22;
            font-size: 2rem;
            text-decoration: none;
            font-weight: 500;
        }
    }
}
@media screen and(max-width:1024px)
{
    .Navbar{
        width: 100vw;
        .Navbar--Logo{
            padding-left: 3vw;
            width: 32%;
        }
    
        .Navbar--Links{
            height: 100%;
            width: 55%;
            padding-right: 11vw;
    
            .Navbar--Link{
                font-size: 3rem;
                letter-spacing: 1.6px;
            }
        }
    } 
}
@media screen and(max-width:768px)
{
    .Navbar{
        .Navbar--Logo{
            width: 32%;
        }
        .Navbar--Links{
            width: 50%;
            padding-right: 11vw;
            .Navbar--Link{
                font-size: 2rem;
                letter-spacing: 1.6px;
            }
        }
    }
}
@media screen and(max-width:414px)
{
    .Navbar{
        .Navbar--Logo{
            width: 22%;
        }
        .Navbar--Links{
            width: 69%;
            .Navbar--Link{
                font-size: 1.5rem;
                letter-spacing: 1.6px;
            }
        }
    }
}
@media screen and(max-width:375px)
{
    .Navbar{ 
        .Navbar--Logo{
            width: 27%;
        }
        .Navbar--Links{
            width: 69%;
            .Navbar--Link{
                font-size: 1.2rem;
                letter-spacing: 1.6px;
            }
        }
    }
}
@media screen and(max-width:360px)
{
    .Navbar{
        .Navbar--Logo{
            width: 27%;
        }
        .Navbar--Links{
            .Navbar--Link{
                letter-spacing: 1.1px;
            }
        }
    }
}
