
.errpopup {
    width: 35%;
    min-height: 35%;
    background: white;
    display: flex;
    border-radius: 1rem;
    flex-direction: column;
    justify-content: center;

    &__symbol {
        font-size: 5rem;
        line-height: 4rem;
        text-align: center;
        color: red;
    }

    &__message {
        padding: 2rem;
        text-align: center;
        font-size: 1.6rem;
    }

    &--wrapper {
        width: 100%;
        height: 100%;
        z-index: 1001;
        position: fixed;
        top: 0;
        left: 0;
        background: rgba($color: #000000, $alpha: 0.7);
        display: flex;
        align-items: center;
        justify-content: center;
    }
}