.Analysis {
    padding: 2%;
    width: 100%;
    display: grid;
    grid-template-areas:
    'summary summary summary summary'
    'starburst line line stock'
    'starburst line line stock';
    grid-gap: 20px;
    height: 90vh;
    overflow: hidden;
    
    .line {
        border-radius: 1rem;
        box-shadow: 0 0 1rem 0.2rem #aeaeae;
        // margin-top: 1rem;
        height: 65vh;
        grid-area: line;
        background-color: white;
        // opacity: 0.7;
        text-align: center;
    }
    .products {
        border-radius: 1rem;
        grid-area: products;
        background-color: white;
        // opacity: 0.7;
        text-align: center;
    }
    .graphs {
        width: 78vw;
        height: 100%;
    }
    .customergraph {
        border-radius: 1rem;
        background-color: white;
        padding: 30px;
    }
}