@import "./node_modules/react-vis/dist/style";

.App {
  background: linear-gradient(-45deg, #f0c9a9, #e6df85, #eec9ac, #fd818b);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh;

  input {
    background-color: transparent;
  }
  
  .add-button {
    height: 3rem;
    width: 12rem;
    border-radius: 5rem;
    border: none;
    background-color: #0278ae;
    color: white;
    font-weight: 600;
    font-size: 1.3rem;
    cursor: pointer;
  }

  h1 {
    font-size: 2rem;                
    text-decoration: underline;
    text-decoration-color: transparent;
    transition: ease-in-out 0.5s;
  }

  // button {
    .submit:hover {
      background-color: #4caf50!important;
    }
    .cancel:hover {
      background-color: #368ff4!important;
    }
    .delete:hover {
      background-color: #f44336!important;
    }
    .edit:hover {
      background-color: #eea00f!important;
    }
  // }
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App-grid-container {
  display: flex;
}

.App-sidebar {
  grid-area: sidebar;
  &--hidden {
    width: 1%;
    overflow: hidden;
  }
}
.App-content {
  grid-area: content;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
