.Overview {
    padding: 5%;
    width: 100%;
    display: flex;

    .col {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 80vh;
        width: 50%;

        .cell {
            width: 30%;
            // background-color: #0099ff;
            // box-shadow: 0 0 1rem 0.5rem #ababab;
            border-radius: 2rem;
            text-align: center;
            font-size: 2rem;
            font-weight: 600;
            cursor: pointer;
            line-height: 10rem;
            background-color: transparent;
            transition: ease 0.5s;
            color: #3282b8;
        }

        .cell:hover {
            width: 35%;
        }
    }

    .image {
        width: 70%;
        img {
            width: 100%;
        }
    }

    .row:first-of-type {
        justify-content: space-between;
    }
    .row:last-of-type {
        justify-content: space-around;
    }
}