.Form--Login,.Form {

    min-height: 25vh;
    width: 30%;
    margin: 20vh auto;
    box-shadow: 0 0 2rem 2.5rem rgba(0, 0, 0, 0.16);
    border-radius: 2rem;
    padding: 1rem;

    .header {
        display: flex;
        width: 80%;
        margin: 2rem auto;
        justify-content: space-between;
        color: #5b5b5b;
        cursor: pointer;
    }

    .not-active {
        opacity: 0.5;
    }

    form {
        width: 100%;
        height: 90%;
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;

        .Form--Select{
            width: 50%;
            padding-left: 1rem;
            font-size: 1.7rem;
            font-weight: 600;
            margin: 0.5rem 0 ;
        }

        input {
            padding: 0.2rem;
            margin: 0.3rem;
            border: none;
            box-shadow: 0 0.2rem rgba(0, 0, 0, 0.16);
            margin: 1rem;
            font-size: 1.7rem;
            background: transparent;
            color: #5b5b5b;
            font-weight: 600;
            font-family: 'Montserrat', sans-serif;
        }

        .notcnf {
            box-shadow: 0 0.2rem rgba(255, 0, 0, 0.5);
        }

        input:-webkit-autofill,
        input:-webkit-autofill:hover, 
        input:-webkit-autofill:focus, 
        input:-webkit-autofill:active  {
            -webkit-box-shadow: 0 0 0 30px white inset !important;
        }

        input:focus{
            outline: none;
        }
    }

    button {
        font-size: 1.5rem;
        position: absolute;
        top: 85%;
        left: 70%;
    }

    p {
        margin: 1rem;
        font-size: 1.3rem;
        span {
            color: blue;
            cursor: pointer;
        }
        span:hover {
            font-weight: 700;
        }
    }
}

.Form--Login form{
    height: 20%;
}
@media screen and(max-width:1024px)
{
    .Form--Login,.Form {

        min-height: 55vh;
        width: 50%;
        .header {
            margin: 5rem auto;
            font-size: 1.8rem;
        }
    
        .not-active {
            opacity: 0.5;
        }
    
        form {
            .Form--Select{
                width: 50%;
            }
    
            input {
                margin: 1.5rem;
                font-size: 2rem;
            }
        }
    
        button {
            font-size: 1.8rem;
            top: 100%;
            left: 70%;
        }
    
        p {
            margin: 2rem;
            font-size: 1.9rem;
        }
    }
}
@media screen and(max-width:768px)
{
    .Form--Login,.Form {

        min-height: 60vh;
        width: 70%;
        .header {
            margin: 3rem auto;
            font-size: 1.5rem;
        }    
    }
}
@media screen and(max-width:414px)
{
    .Form--Login,.Form {

        min-height: 35vh;
        width: 80%;
        padding-left: 1.5rem;
        .header {
            margin: 2rem auto;
            font-size: 1rem;
        }
        form {
            .Form--Select{
                width: 50%;
            }
    
            input {
                margin: 1.2rem;
                font-size: 1.3rem;
            }
        }
    
        button {
            font-size: 0.9rem;
            padding:0.4rem 2rem;
            top: 100%;
            left: 72%;
        }
    
        p {
            margin: 1.2rem;
            font-size: 1.1rem;
        }
    }
}
@media screen and(max-width:375px)
{
    .Form--Login,.Form {

        min-height: 35vh;
        width: 80%;
        padding-left: 1.5rem;
        .header {
            margin: 2rem auto;
            font-size: 0.8rem;
        }
        form {
            .Form--Select{
                width: 50%;
            }
    
            input {
                margin: 1rem;
                font-size: 1rem;
            }
        }
    
        button {
            font-size: 1.2rem;
            padding:0.4rem 1.1rem;
            top: 100%;
            left: 70%;
        }
    
        p {
            margin: 1.2rem;
            font-size: 1rem;
        }
    }
}
@media screen and(max-width:360px)
{
    .Form--Login,.Form {

        min-height: 35vh;
        width: 75%;
        padding-left: 1.5rem;
        .header {
            margin: 2rem auto;
            font-size: 0.8rem;
        }
        form {
            .Form--Select{
                width: 50%;
            }
    
            input {
                margin: 1rem;
                font-size: 1rem;
            }
        }
    
        button {
            font-size: 0.8rem;
            padding:0.4rem 1.1rem;
            top: 102%;
            left: 75%;
        }
    
        p {
            margin: 1.2rem;
            font-size: 1rem;
        }
    }
}
@media screen and(max-width:320px)
{
    .Form--Login,.Form {

        min-height: 35vh;
        width: 78%;
        padding-left: 1.5rem;
        .header {
            margin: 2rem auto;
            font-size: 0.8rem;
        }
        form {
            input {
                margin: 0.7rem;
                font-size: 1rem;
            }
        }
    
        button {
            font-size: 0.9rem;
            padding:0.5rem 1.1rem;
            width: 29%;
            top: 102%;
            left: 70%;
            
        }
    
        p {
            margin: 1.2rem;
            font-size: 0.8rem;
        }
    }
}