.Analysis {
    padding: 2%;
    width: 100%;
    display: grid;
    grid-template-areas:
    'summary summary summary summary'
    'starburst line line stock'
    'starburst line line stock';
    grid-gap: 20px;
    height: 90vh;
    overflow: hidden;

    .summary {
        height: 100%;
        grid-area: summary;
        display: flex;
        justify-content: space-between;
        .blocks{
            cursor: pointer;
            border-radius: 1rem;
            box-shadow: 0 0 1rem 0.2rem #aeaeae;
            text-align: center;
            width: 23%;
            background-color: white;
            display: flex;
            justify-content: space-around;
            font-size: 4rem;
            color: white;
            .icons {
                margin: 1.5rem 0;
                // color: #4A4840;
            }
            h4 {
                height: 0.6rem;
                // color:'#343434';
                font-size: 1.5rem;
            }
            h2 {
                // color: green;
                font-size: 3rem;
            }
        }
        .tcat {
            background: linear-gradient(0deg, rgba(34,195,90,1) 0%, rgba(88,162,173,1) 0%, rgba(250,70,106,1) 95%);
        }
        .mcus {
            background: linear-gradient(0deg, rgba(34,195,90,1) 0%, rgba(173,119,88,1) 0%, rgba(250,212,70,1) 95%);
        }
        .tpro {
            background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(38,157,39,1) 100%);
        }
        .tsale {
            background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(45,122,253,1) 100%);
        }
        .blocks:hover{
            box-shadow: 0 0 1rem 0.05rem #aeaeae;
        }

        
    }
    .line {
        border-radius: 1rem;
        box-shadow: 0 0 1rem 0.2rem #aeaeae;
        // margin-top: 1rem;
        height: 65vh;
        grid-area: line;
        background-color: white;
        // opacity: 0.7;
        text-align: center;
    }
    .products {
        border-radius: 1rem;
        grid-area: products;
        background-color: white;
        // opacity: 0.7;
        text-align: center;
    }
    .starburst {
        border-radius: 1rem;
        box-shadow: 0 0 1rem 0.2rem #aeaeae;
        // margin-top: 1rem;
        height: 65vh;
        grid-area: starburst;
        background-color: white;
        // opacity: 0.7;
        text-align: center;
    }
    .stock {
        border-radius: 1rem;
        box-shadow: 0 0 1rem 0.2rem #aeaeae;
        // margin-top: 1rem;
        height: 65vh;
        grid-area: stock;
        background-color: white;
        // opacity: 0.7;
        text-align: center;
        h1 {
            font-size: 2.5rem;
        }
        div {
            width: 70%;
            margin: 0 auto;
            h2 {
                font-size: 1.5rem;
                display: flex;
                justify-content: space-between;
            }
        }
    }
    .chart {
        h1 {
            // margin-bottom: 3rem;
            font-size: 2.5rem;
        }
        margin: 0 auto;
        .rv-xy-plot {
            margin: 0 auto;
        }
    }
}